# Archivos de usuario
*.suo
*.user
*.sln.docstates

# Resultados de compilación
bin/
obj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/

# Archivos de prueba
TestResult*/
*.log
*.tmp

# Archivos de configuración local
.vs/
*.dbmdl
*.pfx
*.publishsettings

# Archivos de paquetes NuGet
*.nupkg
packages/
!packages/build/

# Archivos de Rider y VS Code
.idea/
.vscode/

# Archivos de sistema
Thumbs.db
Desktop.ini
.DS_Store
